* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
  background-image: url("/images/bg-pattern-card.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  height: 370px;
  width: 370px;
  border-radius: 15px;
}
.wrapper .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .user .user-image {
  border-radius: 50px;
  border: 5px solid hsl(0, 0%, 100%);
  margin-top: 50%;
}
.wrapper .user .user-name {
  font-size: 1.125rem;
  font-weight: 700;
}
.wrapper .user .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
.wrapper .user .user-info .user-age {
  color: hsl(227, 10%, 46%);
  font-size: 1.125rem;
}
.wrapper .user small {
  color: hsl(227, 10%, 46%);
}
.wrapper .line {
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 85%);
  margin: 1.25rem 0;
}
.wrapper .social {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 18px;
}
