// Font family

$ff-primary: "Kumbh Sans", sans-serif;

// Font weights

$fw-normal: 500;
$fw-bold: 700;

// Font sizes

$fs-text: 1.125rem;
$fs-small: 0.875rem;

// Spacings

$m-l: 1.25rem;
$m-n: 0.625rem;
$m-img: 50%;
