@import "colors";
@import "typography";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/images/bg-pattern-top.svg"),
    url("/images/bg-pattern-bottom.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-color: $color-body-bg;
  font-family: $ff-primary;
}

.wrapper {
  background-image: url("/images/bg-pattern-card.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  height: 370px;
  width: 370px;
  border-radius: 15px;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user-image {
      border-radius: 50px;
      border: 5px solid $color-white;
      margin-top: 50%;
    }

    .user-name {
      font-size: $fs-text;
      font-weight: $fw-bold;
    }

    .user-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: $m-l;
      margin-bottom: $m-n;

      .user-age {
        color: $color-text;
        font-size: $fs-text;
      }
    }

    small {
      color: $color-text;
    }
  }
}
